<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">

    <a style="color: white;" class="navbar-brand" href="#">MEDICAL CARE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">



            <li class="nav-item">
                <a style="color: white;" class="nav-link active" aria-current="page" href="javascript:void(0);"
                    routerLink="/phieukhambenhlist">Phiếu Khám Bệnh</a>
            </li>



        </ul>

        <div class="mx-2">

            <button style="margin: 5px;" class="btn btn-danger" data-toggle="modal" data-target="#loginModal"><a
                    style="color:white;" href="javascript:void(0);" routerLink="/home">Log Out</a></button>

        </div>

    </div>

</nav>

<div class="container">
    <hr>
    <h2 style="text-align: center;margin-top: 20PX;">Bệnh Nhân</h2>
    <hr>
    <!-- <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search" (input)="searchPatients()"> -->
    <br>
    <a style="color: rgb(86, 86, 86); font-size: xx-large;">DANH SÁCH CHỜ</a>
    <div class="tableFixHead">
        <br>
        <table class="table table-striped">
            <thead>

                <tr>
                    <th>ID</th>
                    <th>Mã Bệnh Nhân</th>
                    <th>Tên Bệnh Nhân</th>
                    <th>Giới Tính</th>
                    <th>Ngày Sinh</th>
                    <th>Địa Chỉ</th>
                    <th>Số Điện Thoại</th>
                    <th>Đã khám</th>

                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let benhnhan of nbenhnhan">
                    <td>{{benhnhan.id}}</td>
                    <td>{{benhnhan.maBN}}</td>
                    <td>{{benhnhan.tenBenhNhan}}</td>
                    <td>{{benhnhan.gioiTinh}}</td>
                    <td>{{benhnhan.ngaySinh}}</td>
                    <td>{{benhnhan.diaChi}}</td>
                    <td>{{benhnhan.soDT}}</td>
                    <td>
                        <button class="btn btn-success" (click)="delete(benhnhan.id)">Đã Xong</button>
                    </td>


                </tr>
            </tbody>


        </table>
    </div>